body {background-color: #fbfbfb; font-size: 100%; font-family: Arial, Helvetica, sans-serif;}
.top {padding: 5px;}
.logo {font-size: 1.6em;}


.configPageBox {width: 500px; padding: 5px; display: table-row; float: none;}
.configPageBoxtext {width: auto; float: right; display: inline-table;}
.configPageBoxsst {width: auto; float: left; display: inline-table;}