<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <userSettings>
  <TesterJarPath>D:\ftp\Indonesia\My_scenarios</TesrerJarPath>
  <TesterGWPath>D:\ftp\Indonesia\My_scenarios\BaseTests\New_19_11_2012</TesterGWPath>
  <TesterScenarioPath>D:\ftp\Indonesia\My_scenarios\BaseTests\New_19_11_2012\Scenarios</TesterScenarioPath>
 </userSettings>
</configuration>